body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: #000000;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 10px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    z-index: 1;
    background-color: black;
    border-radius: 40px;
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    letter-spacing: -1px;
}

header h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0 0;
    color: #ffffff;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: 1;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.container {
    margin-top: 20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 24px);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #24526b;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #081b25;
}

.weather-output {
    padding: 20px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(154, 125, 172, 0.1);
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.weather-output p {
    margin: 10px 0;
    color: black;
}

/* Social Icons Styling */
.social-icons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a {
    font-size: 24px;
    color: #ffffff;
}

.social-icons a:hover {
    color: #4a739e;
}

footer {
    width: 100%;
    text-align: center;
    box-shadow: 0 -1px 5px rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.source p {
    font-size: 16px;
    color: #ffffff;
}
.source a {
    color: white;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    header h2 {
        font-size: 16px;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Add gap between containers on mobile */
    }

    .container {
        max-width: 90%; /* Make containers take up more width on small screens */
        width: auto;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 14px;
    }

    .container {
        padding: 10px;
    }

    .social-icons a {
        font-size: 20px;
    }
}
